<section class="service_section layout_padding" id="service_section">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Our services
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box ">
          <div class="img-box">
            <img src="/assets/s1.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Business Visa
            </h6>
            <p>
              Streamlining international business travel, we specialize in efficient business visa services.
              Our expert team ensures seamless documentation and compliance with regulations, simplifying
              the process for entrepreneurs and corporate entities alike.  
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box ">
          <div class="img-box">
            <img src="/assets/s2.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Work Visa
            </h6>
            <p>
            Navigating global employment opportunities, our visa services streamline work visa acquisition.
            We guide individuals through documentation and application processes, ensuring compliance with 
            regulations for a smooth transition to international careers.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box ">
          <div class="img-box">
            <img src="/assets/s3.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Tourist Visa
            </h6>
            <p>
            Embark on global journeys effortlessly with our tourist visa services. We simplify the application process, 
            ensuring compliance with regulations, whether you are a seasoned traveler or exploring international 
            destinations for the first time.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box ">
          <div class="img-box">
            <img src="/assets/s4.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Student Visa
            </h6>
            <p>
            Facilitating academic pursuits, our student visa services streamline the application process. We guide 
            students through documentation and procedures, ensuring compliance with regulations for a hassle-free 
            transition into international educational experiences.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end service section -->

<!-- about section -->

<section class="about_section layout_padding" id="about_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="/assets/about-img.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-0">
        <div class="detail-box">
          <div class="heading_container ">
            <h2>
              Who Are We?
            </h2>
          </div>
          <p>
            At <b>FUSION VISA COMSULTANCY</b> we are dedicated to helping
            individuals and businesses navigate the complexities of
            visa applicationa with ease and efficiency. Our
            commitmont is rooted in providing comprohensive visa
            consultation services. enauring that your journey
            towards work. education, or leisure is supported by a
            team of experienced professionls.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="country_section layout_padding" id="country_section">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Choose Country
      </h2>
      <p>
        Select country you want to apply visa for
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="" class="box">
          <img src="/assets/c1.jpg" alt="">
          <div class="detail-box">
            <h3>
              France
            </h3>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="" class="box">
          <img src="/assets/c2.jpg" alt="">
          <div class="detail-box">
            <h3>
              Canada
            </h3>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="" class="box">
          <img src="/assets/c3.jpg" alt="">
          <div class="detail-box">
            <h3>
              United States
            </h3>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="" class="box">
          <img src="/assets/c4.jpg" alt="">
          <div class="detail-box">
            <h3>
              New Zealand
            </h3>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="" class="box">
          <img src="/assets/c5.jpg" alt="">
          <div class="detail-box">
            <h3>
              Australia
            </h3>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="" class="box">
          <img src="/assets/c6.jpg" alt="">
          <div class="detail-box">
            <h3>
              Spain
            </h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="contact_section layout_padding" id="contact_section">
  <div class="contact_bg_box">
    <img src="/assets/contact-bg.jpg" alt="">
  </div>
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Contact Us
      </h2>
    </div>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="form_container">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="First Name" />
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Last Name" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="email" class="form-control" placeholder="Email" />
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Phone Number" />
              </div>
            </div>
            <div class="form-group ">
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="btn-box">
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client_section layout_padding" id="client_section">
  <div class="container">
    <div class="heading_container">
      <h2>
        What Says Our Client
      </h2>
    </div>
    <div class="client_container">
      <div class="carousel-wrap ">
        <div class="owl-carousel">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="/assets/client-1.jpg" alt="" class="img-1">
              </div>
              <div class="detail-box">
                <h5>
                  Mark Evans
                </h5>
                <p>
                  Exceptional service from Fusion Visa Consultancy! Their expertise ensured a flawless visa application process. The team is dedication and attention to detail surpassed our expectations. Grateful for their guidance, making the complex journey of securing a visa seamless. Highly recommend their top-notch services!
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="/assets/client-2.jpg" alt="" class="img-1">
              </div>
              <div class="detail-box">
                <h5>
                  Anthony White
                </h5>
                <p>
                  Fusion Visa Consultancy exceeded all expectations! Their professionalism and efficiency in handling my visa application were truly commendable. The team is personalized approach and attention to detail made the entire process smooth and stress-free. I am grateful for their expertise and highly recommend their services to anyone seeking visa assistance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>