<div class="hero_area">
  <!-- header section strats -->
  <div class="hero_bg_box">
    <div class="img-box">
      <img src="/assets/hero-bg.jpg" alt="">
    </div>
  </div>

  <header class="header_section">
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="#">
            <span>
              Fusion Visa Consultancy
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#service_section"> Services </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about_section"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#country_section"> Countries </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact_section">Contact us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class=" slider_section ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-7">
                <div class="detail-box">
                  <h1>
                    To your bright <br>
                    future
                  </h1>
                  <p>
                    Welcome to <b>FUSION VISA CONSULTANCY,</b> your trusted
                    partner in facilitating seamless travel. work. and
                    study experiences across the globe. As a leading visa
                    consultation company. we specialize in providing expert
                    guidance for work permits in European countries,
                    business ventures. and educational opportunities in
                    diverse destinations such as China, Russia, Kyrgyzatan
                    Ukraine, Albania, Germany, Italy, Hungary, and beyond.
                  </p>
                  <div class="btn-box">
                    <a href="#about_section" class="btn-1"> Read more </a>
                    <a href="#contact_section" class="btn-2">Travel Agent</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-7">
                <div class="detail-box">
                  <h1>
                    To your bright <br>
                    future
                  </h1>
                  <p>
                    Welcome to <b>FUSION VISA CONSULTANCY,</b> your trusted
                    partner in facilitating seamless travel. work. and
                    study experiences across the globe. As a leading visa
                    consultation company. we specialize in providing expert
                    guidance for work permits in European countries,
                    business ventures. and educational opportunities in
                    diverse destinations such as China, Russia, Kyrgyzatan
                    Ukraine, Albania, Germany, Italy, Hungary, and beyond.
                  </p>
                  <div class="btn-box">
                    <a href="#" class="btn-1"> Read more </a>
                    <a href="#" class="btn-2">Travel Agent</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-7">
                <div class="detail-box">
                  <h1>
                    To your bright <br>
                    future
                  </h1>
                  <p>
                    Welcome to <b>FUSION VISA CONSULTANCY,</b> your trusted
                    partner in facilitating seamless travel. work. and
                    study experiences across the globe. As a leading visa
                    consultation company. we specialize in providing expert
                    guidance for work permits in European countries,
                    business ventures. and educational opportunities in
                    diverse destinations such as China, Russia, Kyrgyzatan
                    Ukraine, Albania, Germany, Italy, Hungary, and beyond.
                  </p>
                  <div class="btn-box">
                    <a href="#" class="btn-1"> Read more </a>
                    <a href="#" class="btn-2">Travel Agent</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container idicator_container">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>